/* App.css */

.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: absolute;
    margin-top: 75px;
    font-size: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .audio-list {
    margin-top: 30px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-top: 10px;
  }
  